
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /*font-family: 'Dancing Script', cursive;*/

    font-family: 'Raleway', sans-serif;

}

/*All fonts*/
/*font-family: 'Dancing Script', cursive;*/

/*font-family: 'Raleway', sans-serif;*/

/*font-family: 'Tulpen One', cursive;*/

/*Light Green : #A2C579;*/
/* Dark Green : #435334*/


.page-container {
    background-color: #fbfbfd;
}




.progress-warning {
    color : red
}


.main-nav-container {
    display: flex;
    flex-direction: row;
}

.main-nav-brand-container {
    display: flex;
    flex-direction: row
}

.main-nav-link-container {
    display: none;
}

.main-nav-brand-title {
    /*font-family: 'Tulpen One', cursive;*/
    font-size: 30px;
    color : green;
}



.main-nav-link {
    text-align: center;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: green;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-nav-link-text {
    justify-content: center;
}

.me-auto {
    margin-right : auto;
}

.main-nav-link-group{
    display: none;
}

.link-login-button{
    background-color: green;
}



/*.me-auto {*/
/*    margin-right: unset;*/
/*}*/

/*.navbar-nav {*/
/*    justify-content: center;*/
/*    justify-items: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    color : red;*/
/*}*/



@media only screen and (min-width: 768px) {

    /*.me-auto {*/
    /*    margin-right: unset;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/

    .navbar-nav{
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        color : red;
    }

    /*.main-nav-link {*/
    /*    justify-content: flex-end;*/
    /*}*/
    .main-nav-link-group{
        display: flex;
        justify-items: center;
        /*justify-content: flex-end;*/
        gap: 20px;

    }
}

.main-nav-link-login {
    text-align: center;
}

/*@media only screen and (min-width: 768px) {*/
/*    main-nav-link-login {*/
/*        flex-direction: row-reverse;*/
/*    }*/
/*}*/

.brand-logo {
    width: 40px;
}

/*   Home Components     */

.home-title {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color : green;
    /*font-family: 'Tulpen One', cursive;*/

}

.home-card{
    border-radius: 25px;
    border-color: #435334;
    background-color: #fff;
    box-shadow: 7px 5px 10px #bbbbbb;

}

.home-description-first {
    text-align: center;
    color : #435334;

}


.home-description-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.home-description {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}



.home-signin {
    /*margin-top: 50px;*/
    text-align: center;
}

.home-signup-button {
    background-color: #A2C579;
    color : white;
    border-color: #bbbbbb;
    box-shadow: 7px 5px 10px #bbbbbb;
}

.home-signup-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*Logs */

.log-title{
    text-align: center;
}

.log-card {
    border-style: outset;
    border-color: #A2C579;
    box-shadow: 7px 5px 10px #bbbbbb;

}

.log-card-header{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/*Bootstrap trying to override me again*/
.form-label {
    display : revert;
}
.btn {
    display: revert;
}

.log-card-label-group{
    display: flex;
    flex-direction: column;
}

.log-card-label{
    text-align: center;
    color: olivedrab;
}

.log-card-button-group {
    display: flex;
    flex-direction: column;
}


.log-card-button{
    justify-content: center;
    background-color: #A2C579;

    /*margin: auto;*/
}

.log-entry-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.log-entry-set-label{
    text-align: center;
    font-weight: bold;
}

.log-entry-label{
    text-align: center;
    font-weight: bold;
}

.log-entry-exercise-title{
    text-align: center;
    color: olivedrab;
}

.log-entry-exercise-card{
    margin-top: 40px;
    box-shadow: 7px 5px 10px #bbbbbb;
    border-color: #A2C579;

}

.log-entry-comment{
    text-align: center;
}

.log-entry-data {
    text-align: center;
}

.log-entry-divider{
    margin-top: 20px;
    border-top: 3px dotted #bbb;
    margin-bottom: 20px;

}

.log-entry-button{
    background-color: #A2C579;
    color : white;
    border-color: #bbbbbb;
    box-shadow: 7px 5px 10px #bbbbbb;
}


/* Registration Componetns*/


.registration-card-container{
    margin-top: 40px;
    box-shadow: 7px 5px 10px #bbbbbb;
    border-color: #A2C579;

}

.registration-form-label{
    text-align: center;
    font-weight: bold;
    color: olivedrab;

}

.registration-form-title{
    text-align: center;
    color: olivedrab;
}

.registration-form-button-group{
    display : flex;
    justify-content: center;

}

.registration-form-label{
    text-align: center;
}

.registration-form-button{
    background-color: #A2C579;
    color : white;
    border-color: #bbbbbb;
    box-shadow: 7px 5px 10px #bbbbbb;
    width: 100%;
}

.registration-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.registration-form-placeholder {
    text-align: center;
}




